<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table id="nav-menu" width="100%">
    <tr>
        <td align="center">
            <table>
                <tr>
                    <td> <img th:src="@{/images/menu.png}" height="49px" width="151px"/> </td>
                    <td><a th:href="@{/hello}"> <img th:src="@{/images/main.png}" height="49px" width="151px"/> </a></td>
                    <td><a th:href="@{/products}"> <img th:src="@{/images/Product.png}" height="49px" width="151px"/>  </a></td>
                    <td sec:authorize="isAuthenticated()"><a th:href="@{/cart}"><img th:src="@{/images/Cart.png}" height="49px" width="151px"/>  </a></td>
                    <td sec:authorize="isAuthenticated()"><a th:href="@{/orders}"><img th:src="@{/images/order.png}" height="49px" width="151px"/> </a></td>
                    <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/users}"> <img th:src="@{/images/admin_user.png}" height="49px" width="151px"/> </a></td>
                    <td sec:authorize="hasAuthority('ADMIN') or hasAuthority('MANAGER')"><a th:href="@{/category_admin}"> <img th:src="@{/images/admin_category.png}" height="49px" width="151px"/></a></td>
                    <td sec:authorize="hasAuthority('ADMIN') or hasAuthority('MANAGER')"><a th:href="@{/prod_admin}"> <img th:src="@{/images/admin_product.png}" height="49px" width="151px"/></a></td>
                    <td sec:authorize="hasAuthority('ADMIN') or hasAuthority('MANAGER')"><a th:href="@{/order_admin}"><img th:src="@{/images/admin_order.png}" height="49px" width="151px"/> </a></td>

                </tr>
            </table>






        <td align="right">
            <div sec:authorize="isAuthenticated()">
                <div>
                    Приветствую, <span sec:authentication="principal.username">Bill</span>
                </div>
                <div>
                    <a th:href="@{/logout}">Покинуть сайт</a>
                </div>
            </div>

            <div sec:authorize="!isAuthenticated()">
                <div>
                    Приветствуем вас, Гость. Пожалуйста, пройдите <a th:href="@{/auth/login}">Аутентификацию</a>
                    <br/>
                    или <a th:href="@{/auth/registration}">Зарегистрируетесь</a>
                </div>
            </div>
        </td>
        </tr>
</table>




</body>
</html>