<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корзина товаров</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<h2 align="center">Ваша товарная корзина:</h2>

<table border="0" align="center">
    <tr BGCOLOR="#DEB887">
        <td align="center" style="font-weight:bold; font-size:20px">Название</td>
        <td align="center" style="font-weight:bold; font-size:20px">Количество</td>
        <td align="center" style="font-weight:bold; font-size:20px">Цена</td>
        <td align="center" style="font-weight:bold; font-size:20px">Сумма</td>
<!--        <td></td>-->
    </tr>
    <tr th:each="detail : ${cart.cartDetails}">
        <td th:text="${detail.title}">Cheese</td>
        <td th:text="${detail.amount}">2</td>
        <td th:text="${detail.price}">11.0</td>
        <td th:text="${detail.sum}">22</td>
        <td><a title="Убрать товар из корзины" th:href="@{/cart/{id}/remove(id=${detail.productId})}"><img th:src="@{/images/deletecart.png}" height="32px" width="32px"/></a></td>
    </tr>
</table>
<h3 align="center">Сумма заказа составила <b th:text="${cart.sum}">1000</b> руб.</h3>

<form th:align="center" th:action="@{/cart}" method="post">

    <label>Выберите способ оплаты:</label>
    <input type="radio" th:name="${'payment'}" value="Cash" checked/>Наличная форма оплаты
    <input type="radio" th:name="${'payment'}" value="Bank" />Безналичная форма оплаты

    <br/>

    <button type="submit">Создать заказ</button>
</form>


</body>
</html>