<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>


<div sec:authorize="!isAuthenticated()">
    <h2 align="center">
        Уважаемый пользователь, пройдите аутентификацию!
    </h2>
</div>

<div sec:authorize="isAuthenticated()">
    <h2 align="center">
        Добро пожаловать в наш Интернет-Магазин!
        <br/>
        <br/>
        Ваше Ф.И.О.: <span th:text="${user.getFio()}" /> <br/>
        Ваш логин: <span th:text="${user.getName()}" /> <br/>
        Ваш email: <span th:text="${user.getEmail()}" /><br/>
        Ваш адрес: <span th:text="${user.getAddress()}" /><br/>
        Ваш телефон: <span th:text="${user.getTelephone()}" /><br/>
    </h2>
</div>

</body>
</html>