<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои заказы</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<h2 align="center">Ваш заказ</h2>

<table border="0" align="center">
    <tr BGCOLOR="#DEB887">
        <td align="center" style="font-weight:bold; font-size:20px">Номер заказа</td>
        <td align="center" style="font-weight:bold; font-size:20px">Сумма заказа</td>
        <td align="center" style="font-weight:bold; font-size:20px">Метод оплаты</td>
        <td align="center" style="font-weight:bold; font-size:20px">Адрес доставки</td>
        <td align="center" style="font-weight:bold; font-size:20px">Статус заказа</td>
        <td align="center" style="font-weight:bold; font-size:20px">Время создания</td>
        <td align="center" style="font-weight:bold; font-size:20px">Последнее обновление</td>
        <td align="center" style="font-weight:bold; font-size:20px">Ф.И.О. заказчика</td>
<!--        <td></td>-->
    </tr>
    <tr th:each="order : ${orders}">
        <td align="center" th:text="${order.id}">1</td>
        <td align="center" th:text="${order.sum}">200</td>
        <td align="center" th:text="${order.pay}">Money</td>

        <td th:text="${order.address}">Address</td>
        <td align="center" th:text="${order.status}">New</td>
        <td align="center" th:text="${order.getCreatedTime()}">New</td>
        <td align="center" th:text="${order.getChangedTime()}">New</td>
        <td align="center" th:text="${order.user.fio}">FIO</td>

        <td th:if="${order.getStatus.name()!='NEW'}">

        </td>
        <td th:if="${order.getStatus.name()=='NEW'}">
        <a title="Оплатить заказ" th:href="@{/orders/{id}/pay(id=${order.id})}"><img th:src="@{/images/pay.png}" height="32px" width="32px"/></a>
        </td>


        <td th:if="${order.getStatus.name()!='NEW'}">

        </td>
        <td th:if="${order.getStatus.name()=='NEW'}">
           <a title="Отменить заказ" th:href="@{/orders/{id}/cancel(id=${order.id})}"><img th:src="@{/images/cancel.png}" height="32px" width="32px"/></a>
        </td>


    </tr>
</table>



</body>
</html>